.media-container {
    display: block;
    margin: 80px auto;

    #media-header {
        font-family: prototype;
        font-size: 100px;
        text-align: center;
        margin-bottom: 100px;
    }

    .media-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .media-card {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 443px;
            justify-content: space-between;
            border-radius: 25px;
            transition: width 0.2s;
            position: relative;
            overflow: hidden;

            .background {
                margin: 50px auto;

                img {
                    width: 235px;
                }
            }

            .media-title {
                margin: 30px auto;

                h1 {
                    color: white;
                    transition: text-shadow 0.2s;
                }
            }

            .iframe-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                iframe {
                    border: none;
                }
            }

            .media-arrow {
                position: relative;
                text-align: end;
                margin: 10px 30px;
                color: white;
                font-size: 50px;
            }

            &:hover {
                width: 370px;

                .media-title {
                    h1 {
                        text-shadow: 1px 4px 4px black;
                        transition: text-shadow 0.2s;
                    }
                }
            }

            &.active {
                width: 1000px;

                .background {
                    display: none;
                }

                .media-title {
                    h1 {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    header iframe {
        height: 200px;
    }
}
