.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    transition: all 1s;

    section {
        display: flex;
        padding-bottom: 100px;
        justify-content: center;

        p {
            line-height: 33px;
            font-size: 23px;
            font-family: sfns;
        }
    }

    .section-inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-img {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .section-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            width: 160px;
            font-size: 15px;
            cursor: pointer;
        }
    }

    .section-title {
        display: block;
        font-family: prototype;
        font-size: 40px;
    }

    .title-header {
        width: 100%;

        h1 {
            font-family: prototype;
            font-size: 100px;
            text-align: center;
        }

        h3 {
            text-align: center;
        }
    }

    .buttons {
        display: table;
        width: 100%;
        height: auto;
        text-align: center;

        button {
            width: 30%;
            height: 350px;
            margin: 20px 10px;
            font-size: 30px;
            transition: 0.2s;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            p {
                text-align: center;
                font-size: 30px;
                filter: blur(0);
                position: relative;
                z-index: 1;
                transition: font-size 0.2s;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                filter: blur(0);
                transition: filter 0.2s;
                z-index: 0;
            }
        }

        #button1 {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;

            &::before {
                background-image: url('../media/pictures/stock-1.jpg');
            }
        }

        #button2 {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;

            &::before {
                background-image: url('../media/pictures/websites.png');
            }
        }

        #button3 {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;

            &::before {
                background-image: url('../media/pictures/Tips-for-Editing-Videos-Faster-Premiere-Pro.jpg');
                background-size: 750px; /* Adjust background size as needed */
            }
        }

        button:hover::before {
            filter: blur(5px);
        }

        button:hover p {
            font-size: 31px;
        }
    }

    .webbuttons {
        display: table;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;

        button {
            width: 20%;
            height: 150px;
            margin: 20px 10px;
            font-size: 30px;
            transition: 0.2s;
            cursor: pointer;

            p {
                font-size: 30px;
                text-align: center;
            }
        }

        #button7:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-image: url('../media/pictures/cover.jpg');
            background-size: 350px 250px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }

        #button8:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-position: center;
            background-image: url('../media/pictures/bsucardinal.png');
            background-size: auto 100px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }
    }

    .vidbuttons {
        display: table;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;

        button {
            width: 20%;
            height: 150px;
            margin: 20px 10px;
            font-size: 30px;
            transition: 0.2s;
            cursor: pointer;

            p {
                font-size: 30px;
                text-align: center;
            }
        }

        #button4:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-image: url('../media/pictures/cover.jpg');
            background-size: 350px 250px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }

        #button5:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-position: center;
            background-image: url('../media/pictures/laville.png');
            background-size: auto 100px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }

        #button6:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-position: center;
            background-image: url('../media/pictures/bsucardinal.png');
            background-size: auto 100px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }

        #button7:hover {
            color: white;
            font-size: 30px;
            text-shadow: 2px 2px 3px black;
            background-position: center;
            background-image: url('../media/pictures/afs.png');
            background-size: 350px;
            background-repeat: no-repeat;
            transition: 0.2s;
        }
    }

    .content-video {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 100px;

        iframe {
            display: block;
            text-align: center;
            margin: 0 auto;
            box-shadow: -5px 8px 7px 3px black;
            border: none;
        }
    }

    .content-img {
        display: block;
        text-align: center;

        img {
            box-shadow: 4px 8px 7px 3px black;
            width: 700px;
        }
    }
}

@media only screen and (max-width: 1542px) {
    .projects {
        section {
            margin: 0px 30px;

            p {
                margin: 10px;
            }
        }

        .section-title {
            text-align: center;
        }

        .section-inner {
            flex-direction: column;
        }

        .content-img img {
            max-width: 500px;
            height: 60%;
        }

        .content-video {
            max-width: 600px;
            max-height: 600px;
        }
    }
}

@media only screen and (max-width: 856px) {
    .projects {
        .buttons {
            display: flex;
            flex-direction: row;
        }

        .section-inner {
            flex-direction: column;
        }

        .webbuttons,
        .vidbuttons {
            button {
                flex-direction: column;
                margin: auto;
                width: 300px;
            }

            p {
                text-align: center;
                margin: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .projects {
        .title-header h1 {
            padding-top: 60px;
            font-size: 80px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                width: 300px;
                height: 200px;
                margin: 15px 0px;
            }
        }

        .webbuttons,
        .vidbuttons {
            button {
                flex-direction: column;
                margin: auto;
                width: 150px;
            }

            p {
                text-align: center;
                margin: auto;
            }
        }

        section {
            margin: 0px 30px;

            p {
                margin: 10px;
            }
        }

        .section-title {
            text-align: center;
        }

        .section-inner {
            flex-direction: column;
        }

        .content-img img {
            max-width: 370px;
            height: 80%;
        }

        .content-video {
            max-width: 600px;
            max-height: 600px;
        }
    }
}
